doctype html
html
	head
		meta(charset="utf-8")
		base(href='/')
		title Service Oriented Architecture Manager
		link(rel='stylesheet', href='/javascripts/vendor/perfect-scrollbar/min/perfect-scrollbar.min.css', type='text/css')
		link(rel='stylesheet', href='/javascripts/vendor/bootstrap/dist/css/bootstrap.css', type='text/css')
		link(rel='stylesheet', href='/javascripts/vendor/bootstrap/dist/css/bootstrap-theme.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

	body(ng-app="soam")
		block body

