extends head
block body



	div(ng-controller="terminalsCtrl")
		tabset
			tab(ng-repeat="terminal in terminals", heading="{{terminal.title}}")
				perfect-scrollbar.terminal.scroller(scroll-glue, wheel-propagation="true", wheel-speed="10", min-scrollbar-length="20")
					div.terminal(ng-bind-html="terminal.content")


	script(src="https://cdn.socket.io/socket.io-1.3.5.js")

	script(src='/javascripts/vendor/jquery/dist/jquery.js')
	//- script(src='/javascripts/vendor/underscore/underscore.js')

	script(src='/javascripts/vendor/angular/angular.js')
	script(src='/javascripts/textAngular-sanitize.js')
	//- script(src='/javascripts/underscore.js')
	script(src='/javascripts/vendor/angular-bootstrap/ui-bootstrap.js')
	script(src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
	script(src='/javascripts/vendor/angular-safeapply/safe-apply.js')
	script(src='/javascripts/vendor/angular-scroll-glue/src/scrollglue.js')
	script(src='/javascripts/vendor/perfect-scrollbar/min/perfect-scrollbar.min.js')
	script(src='/javascripts/vendor/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js')

	script(src='/javascripts/soam/app.js')
	script(src='/javascripts/soam/socket.js')

